---
layout: archive
---

{{ content }}

<h2>Who?</h2>
<p>
  I live on <a href="">Sydneys' Northern Beaches</a>, where I enjoy and
  <a href="">running</a>, <a href="">swimming</a>, and
  <a href="">slowly making things in my workshop</a>.
</p>
<p>
  I have been interested in <a href="">music</a>,
  <a href="">alternative lifestyles</a> and <a href="">technology</a> since the
  <a href="">70's</a>.
</p>

<p>
  Enjoyed stints as a <a href="">protester</a>,
  <a href="">natural therapist</a>, and spent most of my career has been working
  in <a href="https://www.linkedin.com/in/williampickup/">IT</a>.
</p>
<p>
  You can find my occasionally updated blog
  <a href="https://www.williampickup.org">here</a>
</p>
<h2>What am I doing now?</h2>
<p>See <a href="/now">my “now” page</a></p>

<hr />

<h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>

{% if paginator %} {% assign posts = paginator.posts %} {% else %} {% assign
posts = site.posts %} {% endif %} {% assign entries_layout = page.entries_layout
| default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %} {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
